html,
body,
#root {
    height: 100%;
}
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.globalSpin___Vg8IM {
    width: 100%;
    margin: 40px 0 !important;
}
@font-face {
    font-family: "Helvetica Neue For Number";
    src: local("Helvetica Neue");
    unicode-range: U+30-39;
}
html,
body {
    width: 100%;
    height: 100%;
}
input::-ms-clear,
input::-ms-reveal {
    display: none;
}
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@at-root {
    @-ms-viewport {
        width: device-width;
    }
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
body {
    margin: 0;
    font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
}
[tabindex="-1"]:focus {
    outline: none !important;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
}
p {
    margin-top: 0;
    margin-bottom: 1em;
}
abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
}
address {
    margin-bottom: 1em;
    font-style: normal;
    line-height: inherit;
}
input[type="text"],
textarea {
    -webkit-appearance: none;
}
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1em;
}
ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}
dt {
    font-weight: 500;
}
dd {
    margin-bottom: .5em;
    margin-left: 0;
}
blockquote {
    margin: 0 0 1em;
}
dfn {
    font-style: italic;
}
b,
strong {
    font-weight: bolder;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
a {
    color: #1890ff;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}
a:focus {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}
a:hover {
    color: #40a9ff;
}
a:active {
    color: #096dd9;
}
a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}
a[disabled] {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    pointer-events: none;
}
pre,
code,
kbd,
samp {
    font-family: Consolas, Menlo, Courier, monospace;
    font-size: 1em;
}
pre {
    margin-top: 0;
    margin-bottom: 1em;
    overflow: auto;
}
figure {
    margin: 0 0 1em;
}
img {
    vertical-align: middle;
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
table {
    border-collapse: collapse;
}
caption {
    padding-top: .75em;
    padding-bottom: .3em;
    color: rgba(0, 0, 0, 0.45);
    text-align: left;
    caption-side: bottom;
}
th {
    text-align: inherit;
}
input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}
textarea {
    overflow: auto;
    resize: vertical;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5em;
    font-size: 1.5em;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}
output {
    display: inline-block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none !important;
}
mark {
    padding: .2em;
    background-color: #feffe6;
}
::-moz-selection {
    background: #1890ff;
    color: #fff;
}
::selection {
    background: #1890ff;
    color: #fff;
}
.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
@font-face {
    font-family: 'anticon';
    src: url('https://at.alicdn.com/t/font_148784_r2qo40wrmaolayvi.eot');
    /* IE9*/
    src: url('https://at.alicdn.com/t/font_148784_r2qo40wrmaolayvi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_148784_r2qo40wrmaolayvi.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_148784_r2qo40wrmaolayvi.svg#iconfont') format('svg');
}



/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.mt-breadcrumb {
    font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgba(0, 0, 0, 0.45);
}
.mt-breadcrumb .anticon {
    font-size: 12px;
}
.mt-breadcrumb a {
    color: rgba(0, 0, 0, 0.45);
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
.mt-breadcrumb a:hover {
    color: #40a9ff;
}
.mt-breadcrumb > span:last-child {
    color: rgba(0, 0, 0, 0.65);
}
.mt-breadcrumb > span:last-child .mt-breadcrumb-separator {
    display: none;
}
.mt-breadcrumb-separator {
    margin: 0 8px;
    color: rgba(0, 0, 0, 0.45);
}
.mt-breadcrumb-link > .anticon + span {
    margin-left: 4px;
}
/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.pageHeader___qgeO0 {
    background: #fff;
    padding: 16px 32px 0 32px;
    border-bottom: 1px solid #e8e8e8;
}
.pageHeader___qgeO0 .detail___3j7je {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.pageHeader___qgeO0 .row___1YNAY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.pageHeader___qgeO0 .breadcrumb___2WwSj {
    margin-bottom: 16px;
}
.pageHeader___qgeO0 .tabs___2xumN {
    margin: 0 0 -17px -8px;
}
.pageHeader___qgeO0 .tabs___2xumN .mt-tabs-bar {
    border-bottom: 1px solid #e8e8e8;
}
.pageHeader___qgeO0 .logo___2fjzf {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 16px;
    padding-top: 1px;
}
.pageHeader___qgeO0 .logo___2fjzf > img {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    display: block;
}
.pageHeader___qgeO0 .title___2kJoR {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}
.pageHeader___qgeO0 .action___2xCPQ {
    margin-left: 56px;
    min-width: 266px;
}
.pageHeader___qgeO0 .action___2xCPQ .mt-btn-group:not(:last-child),
.pageHeader___qgeO0 .action___2xCPQ .mt-btn:not(:last-child) {
    margin-right: 8px;
}
.pageHeader___qgeO0 .action___2xCPQ .mt-btn-group > .mt-btn {
    margin-right: 0;
}
.pageHeader___qgeO0 .title___2kJoR,
.pageHeader___qgeO0 .action___2xCPQ,
.pageHeader___qgeO0 .content___YoaiY,
.pageHeader___qgeO0 .extraContent___2lyIs,
.pageHeader___qgeO0 .main___3aXyE {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
}
.pageHeader___qgeO0 .title___2kJoR,
.pageHeader___qgeO0 .action___2xCPQ {
    margin-bottom: 16px;
}
.pageHeader___qgeO0 .logo___2fjzf,
.pageHeader___qgeO0 .content___YoaiY,
.pageHeader___qgeO0 .extraContent___2lyIs {
    margin-bottom: 16px;
}
.pageHeader___qgeO0 .action___2xCPQ,
.pageHeader___qgeO0 .extraContent___2lyIs {
    text-align: right;
}
.pageHeader___qgeO0 .extraContent___2lyIs {
    margin-left: 88px;
    min-width: 242px;
}
@media screen and (max-width: 1200px) {
    .pageHeader___qgeO0 .extraContent___2lyIs {
        margin-left: 44px;
    }
}
@media screen and (max-width: 992px) {
    .pageHeader___qgeO0 .extraContent___2lyIs {
        margin-left: 20px;
    }
}
@media screen and (max-width: 768px) {
    .pageHeader___qgeO0 .row___1YNAY {
        display: block;
    }
    .pageHeader___qgeO0 .action___2xCPQ,
    .pageHeader___qgeO0 .extraContent___2lyIs {
        margin-left: 0;
        text-align: left;
    }
}
@media screen and (max-width: 576px) {
    .pageHeader___qgeO0 .detail___3j7je {
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .pageHeader___qgeO0 .action___2xCPQ .mt-btn-group,
    .pageHeader___qgeO0 .action___2xCPQ .mt-btn {
        display: block;
        margin-bottom: 8px;
    }
    .pageHeader___qgeO0 .action___2xCPQ .mt-btn-group > .mt-btn {
        display: inline-block;
        margin-bottom: 0;
    }
}
/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.content___34hUL {
    margin: 24px 24px 0;
}
@media screen and (max-width: 576px) {
    .content___34hUL {
        margin: 24px 0 0;
    }
}


/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.mt-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    background: #f0f2f5;
}
.mt-layout,
.mt-layout * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mt-layout.mt-layout-has-sider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.mt-layout.mt-layout-has-sider > .mt-layout,
.mt-layout.mt-layout-has-sider > .mt-layout-content {
    overflow-x: hidden;
}
.mt-layout-header,
.mt-layout-footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.mt-layout-header {
    background: #001529;
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
}
.mt-layout-footer {
    background: #f0f2f5;
    padding: 24px 50px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}
.mt-layout-content {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
}
.mt-layout-sider {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: relative;
    background: #001529;
    /* fix firefox can't set width smaller than content on flex item */
    min-width: 0;
}
.mt-layout-sider-children {
    height: 100%;
    padding-top: 0.1px;
    margin-top: -0.1px;
}
.mt-layout-sider-has-trigger {
    padding-bottom: 48px;
}
.mt-layout-sider-right {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.mt-layout-sider-trigger {
    position: fixed;
    text-align: center;
    bottom: 0;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: #002140;
    z-index: 1;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.mt-layout-sider-zero-width > * {
    overflow: hidden;
}
.mt-layout-sider-zero-width-trigger {
    position: absolute;
    top: 64px;
    right: -36px;
    text-align: center;
    width: 36px;
    height: 42px;
    line-height: 42px;
    background: #001529;
    color: #fff;
    font-size: 18px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
.mt-layout-sider-zero-width-trigger:hover {
    background: #192c3e;
}
/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.mt-header {
    padding: 0 12px 0 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    position: relative;
}
.mt-logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
}
.mt-logo img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
}
.mt-logo h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
}
i.trigger___yPNRl {
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 0 24px;
}
i.trigger___yPNRl:hover {
    background: #e6f7ff;
}
@media screen and (max-width: 480px) {
    .trigger___yPNRl {
        display: none;
    }
}
.right___3SWlC {
    float: right;
    height: 100%;
}
.right___3SWlC .action___1psR7 {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 100%;
}
.right___3SWlC .action___1psR7 > i {
    font-size: 16px;
    vertical-align: middle;
}
.right___3SWlC .action___1psR7.mt-popover-open,
.right___3SWlC .action___1psR7:hover {
    background: #e6f7ff;
}
.right___3SWlC .search___3HZ48 {
    padding: 0;
    margin: 0 12px;
}
.right___3SWlC .search___3HZ48:hover {
    background: transparent;
}
.right___3SWlC .account___nd0Ek .avatar___2mM9p {
    margin: 20px 8px 20px 0;
    color: #1890ff;
    background: rgba(255, 255, 255, 0.85);
    vertical-align: middle;
}
.menu___2UuXQ .anticon {
    margin-right: 8px;
}
.menu___2UuXQ .mt-dropdown-menu-item {
    width: 160px;
}
.mt-layout {
    overflow-x: hidden;
}
.sider_Demo {
    min-height: 100vh;
    -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    position: relative;
    z-index: 10;
}


/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.mt-card {
    font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border-radius: 2px;
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.mt-card-hoverable {
    cursor: pointer;
}
.mt-card-hoverable:hover {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border-color: rgba(0, 0, 0, 0.09);
}
.mt-card-bordered {
    border: 1px solid #e8e8e8;
}
.mt-card-head {
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 24px;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    min-height: 48px;
}
.mt-card-head:before,
.mt-card-head:after {
    content: " ";
    display: table;
}
.mt-card-head:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.mt-card-head-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.mt-card-head-title {
    font-size: 16px;
    padding: 16px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.mt-card-head .mt-tabs {
    margin-bottom: -17px;
    clear: both;
}
.mt-card-head .mt-tabs-bar {
    border-bottom: 1px solid #e8e8e8;
}
.mt-card-extra {
    float: right;
    padding: 17.5px 0;
    text-align: right;
    margin-left: auto;
}
.mt-card-body {
    padding: 24px;
    zoom: 1;
}
.mt-card-body:before,
.mt-card-body:after {
    content: " ";
    display: table;
}
.mt-card-body:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.mt-card-contain-grid .mt-card-body {
    margin: -1px 0 0 -1px;
    padding: 0;
}
.mt-card-grid {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
    box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
    width: 33.33%;
    float: left;
    padding: 24px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.mt-card-grid:hover {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.mt-card-contain-tabs .mt-card-head-title {
    padding-bottom: 0;
    min-height: 32px;
}
.mt-card-contain-tabs .mt-card-extra {
    padding-bottom: 0;
}
.mt-card-cover > * {
    width: 100%;
    display: block;
}
.mt-card-actions {
    border-top: 1px solid #e8e8e8;
    background: #f5f8fa;
    zoom: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}
.mt-card-actions:before,
.mt-card-actions:after {
    content: " ";
    display: table;
}
.mt-card-actions:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.mt-card-actions > li {
    float: left;
    text-align: center;
    margin: 12px 0;
    color: rgba(0, 0, 0, 0.45);
}
.mt-card-actions > li > span {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    line-height: 22px;
    min-width: 32px;
    position: relative;
}
.mt-card-actions > li > span:hover {
    color: #1890ff;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
.mt-card-actions > li > span > .anticon {
    font-size: 16px;
}
.mt-card-actions > li > span a {
    color: rgba(0, 0, 0, 0.45);
}
.mt-card-actions > li > span a:hover {
    color: #1890ff;
}
.mt-card-actions > li:not(:last-child) {
    border-right: 1px solid #e8e8e8;
}
.mt-card-wider-padding .mt-card-head {
    padding: 0 32px;
}
.mt-card-wider-padding .mt-card-body {
    padding: 24px 32px;
}
.mt-card-padding-transition .mt-card-head,
.mt-card-padding-transition .mt-card-body {
    -webkit-transition: padding .3s;
    -o-transition: padding .3s;
    transition: padding .3s;
}
.mt-card-padding-transition .mt-card-extra {
    -webkit-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;
}
.mt-card-type-inner .mt-card-head {
    padding: 0 24px;
    background: #fafafa;
}
.mt-card-type-inner .mt-card-head-title {
    padding: 12px 0;
    font-size: 14px;
}
.mt-card-type-inner .mt-card-body {
    padding: 16px 24px;
}
.mt-card-type-inner .mt-card-extra {
    padding: 13.5px 0;
}
.mt-card-meta {
    margin: -4px 0;
}
.mt-card-meta-content {
    display: table-row;
}
.mt-card-meta-avatar {
    padding-right: 16px;
    display: table-cell;
}
.mt-card-meta-detail {
    display: table-cell;
    vertical-align: top;
    position: relative;
}
.mt-card-meta-detail > div:not(:last-child) {
    margin-bottom: 8px;
}
.mt-card-meta-title {
    font-size: 16px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
}
.mt-card-meta-description {
    color: rgba(0, 0, 0, 0.45);
}
.mt-card-loading .mt-card-body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
}
.mt-card-loading-content {
    padding: 24px;
}
.mt-card-loading-content p {
    margin: 0;
}
.mt-card-loading-block {
    display: inline-block;
    margin: 5px 2% 0 0;
    height: 14px;
    border-radius: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(207, 216, 220, 0.2)), color-stop(rgba(207, 216, 220, 0.4)), to(rgba(207, 216, 220, 0.2)));
    background: -webkit-linear-gradient(left, rgba(207, 216, 220, 0.2), rgba(207, 216, 220, 0.4), rgba(207, 216, 220, 0.2));
    background: -o-linear-gradient(left, rgba(207, 216, 220, 0.2), rgba(207, 216, 220, 0.4), rgba(207, 216, 220, 0.2));
    background: linear-gradient(90deg, rgba(207, 216, 220, 0.2), rgba(207, 216, 220, 0.4), rgba(207, 216, 220, 0.2));
    -webkit-animation: card-loading 1.4s ease infinite;
    animation: card-loading 1.4s ease infinite;
    background-size: 600% 600%;
}
@-webkit-keyframes card-loading {
    0%,
    100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
@keyframes card-loading {
    0%,
    100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}