<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的团队</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="style.css">
    <style>
        .demo-team{
            width: 90%;
            margin: 0 auto;
            background-color: #fff;
            padding: .2rem;
            border-radius: 5px;
            font-size: .3rem;
            color: rgba(0, 0, 0, 0.7);
            text-align: center;
        }
        .red{
            color: red;
        }
        .demo-team h2{
            font-size: .4rem;
        }
        .demo-team p{
            margin: .1rem;
        }
        .yjInfo{
            margin-bottom: .5rem;
        }
        .team{
            margin-bottom: .5rem;
        }
        .jifen{
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>

<section class="demo-team yjInfo">
    <div class="mtui-flex">
        <div class="mtui-flex__item">
            <p>今日佣金</p>
            <p class="red">80</p>
        </div>
        <div class="mtui-flex__item">
            <p>今日佣金</p>
            <p class="red">80</p>
        </div>
    </div>
</section>

<section class="demo-team team">
    <h2>我的团队</h2>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>一级人员：<span class="red">80</span></p></div>
        <div class="mtui-flex__item"><p>二级人员：<span class="red">80</span></p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>三级人员：<span class="red">80</span></p></div>
        <div class="mtui-flex__item"><p>四级人员：<span class="red">80</span></p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>五级人员：<span class="red">80</span></p></div>
        <div class="mtui-flex__item"><p>六级人员：<span class="red">80</span></p></div>
    </div>
</section>

<section class="demo-team jifen">
    <h2>最近一周积分</h2>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>积分</p></div>
        <div class="mtui-flex__item"><p>时间</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
    <div class="mtui-flex">
        <div class="mtui-flex__item"><p>0</p></div>
        <div class="mtui-flex__item"><p>2017－12-05</p></div>
    </div>
</section>

<div class="mtui-footer mtui-footer_fixed-bottom">
        <p class="mtui-footer__links"><a href="personal.html" class="mtui-footer__link">返回</a></p>
    </div>


<script src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="../assets/js/fastclick.js"></script>
<script src="../assets/js/mtui.flexible.js"></script>
</body>
</html>