<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>充值中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="../assets/css/mtui.css">
    <script src="../assets/js/mtui.flexible.js"></script>
</head>
<body style="background-color: #7b20c5">

<section class="g-flexview">
    <header class="m-navbar">
        <a href="asidebar.html" class="navbar-item"><i class="back-ico"></i></a>
        <div class="navbar-center"><span class="navbar-title">充值中心</span></div>
    </header>

    <section class="g-scrollview">

        <figure style="height: 3rem; border: 5px solid #fff">

        </figure>

        <div class="m-gridstitle">人名币: 1 : 1</div>

        <div class="m-button">
            <input type="button" class="btn-block btn-hollow" value="确认充值">
            <p style="margin-top: .3rem; color: #c580fd; font-size: .35rem">有问题联系客服</p>
        </div>

    </section>


</section>

<script src="../assets/js/jquery-3.1.1.min.js"></script>
</body>
</html>