<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>夺宝游戏增强版2.0</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="stylesheet" href="../assets/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="../assets/css/ion.rangeSlider.skinHTML5.css">
    <link rel="stylesheet" href="../assets/css/jquery.marquee.css">
    <link rel="stylesheet" href="../assets/css/component.css">
    <link rel="stylesheet" href="../assets/css/component-tab.css">
    <link rel="stylesheet" href="style.css">
    <style>


        .headBg{
            background: url(../assets/images/personal/personal-header-bg.png) no-repeat;
            background-size: 100% 100%;
            width: 100%;
            padding: .2rem 0;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
            margin-bottom: 4px;
        }
        .hbImg{
            width: 1.3rem;
            position: absolute;
            top: 0;
            right: .5rem;
        }
        .banner-rule{
            margin: 0;
            padding: 0;
            font-size: 0;
        }
        .banner-rule img{
            width: 100%;
        }
        .db-link{

        }
        ul,li{
            margin: 0; padding: 0; list-style-type: none;
        }
        .item-link{
            padding: .2rem 0;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-transition: .3s;
            transition: .3s;
            font-size: 0.3rem;
            background-color: #fff;
            margin-top: .15rem;
        }
        .item-link img{
            width: .8rem;
            margin-right: .8rem;
        }
    </style>


</head>
<body onload="loaded()">
<div class="demo-rollnotice">
    <img src="../assets/images/home/zxdt.png" class="zxdt-icon" />
    <img src="../assets/images/home/lb_icon.png" class="lb-icon">
    <div class="mt-rollnotice">
        <div class="mt-rollnotice-box">
            <ul id="marquee" class="marquee">
                <li>
                    Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer.</li>
                <li>
                    用户ID qyf 获利100元  用户ID qyf 获利100元
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="wrapper" style="top: .9rem;">
    <div id="scroller">

        <header class="headBg">
            <div class="mtui-flex" style="font-size: .3rem; color: #fff">
                <div class="mtui-flex__item">
                    <figure class="headImg">
                        <img src="../assets/images/personal/icon2.png" style="width: 1.3rem; border-radius: 50%;"/>
                    </figure>
                    <p>ID：1579</p>
                </div>
                <div class="mtui-flex__item">
                    <p>余额：5.00</p>
                    <p>佣金：12.0</p>
                    <a href="javascript:;" class="mtui-btn mtui-btn_mini mtui-btn_default">充值</a>
                </div>
                <div class="mtui-flex__item">
                    <a href="javascript:;"><img class="hbImg" src="../assets/images/personal/hb_icon.png"/></a>
                    <a href="javascript:;" data-modal="modal-1" style="margin-top: 1rem" class="mtui-btn mtui-btn_mini mtui-btn_default_reverse md-trigger">排行版</a>
                    <a href="javascript:;" class="mtui-btn mtui-btn_mini mtui-btn_default_reverse">兑换</a>
                </div>
            </div>
        </header>
        <figure class="banner-rule">
            <img src="../assets/images/home/banner.png" />
        </figure>
        <div class="box">
            <div class="media">
                <div class="media-left">
                    <figure class="gameJoinImage">
                        <a href="index.html"><img src="../assets/images/personal/banner-gameJoin-bg.jpg"/></a>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <ul>
                            <li>
                                <div class="mtui-flex item-link">
                                    <p class="mtui-flex__item">推广赚钱</p>
                                    <img src="../assets/images/personal/icon.png"/>
                                </div>
                            </li>
                            <li>
                                <div class="mtui-flex item-link">
                                    <p class="mtui-flex__item">交易明细</p>
                                    <img src="../assets/images/personal/icon2.png"/>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--<div class="mtui-footer mtui-footer_fixed-bottom">
        <p class="mtui-footer__links"><a href="javascript:;" class="mtui-footer__link">个人中心</a></p>
    </div>-->
    <footer>
        <div class="mtui-tabbar">
            <a href="javascript:;" class="mtui-tabbar__item">
                <img src="../assets/images/personal/icon3.png" alt="" class="mtui-tabbar__icon">
                <p class="mtui-tabbar__label">下级明细</p>
            </a>
            <a href="javascript:;" class="mtui-tabbar__item">
                <img src="../assets/images/personal/icon4.png" alt="" class="mtui-tabbar__icon">
                <p class="mtui-tabbar__label">联系客服</p>
            </a>
            <a href="javascript:;" class="mtui-tabbar__item">
                <img src="../assets/images/personal/icon5.png" alt="" class="mtui-tabbar__icon">
                <p class="mtui-tabbar__label">我的团队</p>
            </a>
        </div>
    </footer>

</div>


<div class="md-modal md-effect-1" id="modal-1">

    <div class="md-content">

        <h3>Modal Dialog</h3>

        <div>
            <div class="tabs">
                <input type="radio" id="tab1" name="tab-control" checked>
                <input type="radio" id="tab2" name="tab-control">
                <input type="radio" id="tab3" name="tab-control">
                <input type="radio" id="tab4" name="tab-control">
                <ul>
                    <li title="Features"><label for="tab1" role="button"><svg viewBox="0 0 24 24"><path d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z"/>
                    </svg><br><span>Features</span></label></li>
                    <li title="Delivery Contents"><label for="tab2" role="button"><svg viewBox="0 0 24 24"><path d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
                    </svg><br><span>Delivery Contents</span></label></li>
                    <li title="Shipping"><label for="tab3" role="button"><svg viewBox="0 0 24 24">
                        <path d="M3,4A2,2 0 0,0 1,6V17H3A3,3 0 0,0 6,20A3,3 0 0,0 9,17H15A3,3 0 0,0 18,20A3,3 0 0,0 21,17H23V12L20,8H17V4M10,6L14,10L10,14V11H4V9H10M17,9.5H19.5L21.47,12H17M6,15.5A1.5,1.5 0 0,1 7.5,17A1.5,1.5 0 0,1 6,18.5A1.5,1.5 0 0,1 4.5,17A1.5,1.5 0 0,1 6,15.5M18,15.5A1.5,1.5 0 0,1 19.5,17A1.5,1.5 0 0,1 18,18.5A1.5,1.5 0 0,1 16.5,17A1.5,1.5 0 0,1 18,15.5Z" />
                    </svg><br><span>Shipping</span></label></li>    <li title="Returns"><label for="tab4" role="button"><svg viewBox="0 0 24 24">
                    <path d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                </svg><br><span>Returns</span></label></li>
                </ul>

                <div class="slider"><div class="indicator"></div></div>
                <div class="content">
                    <section>
                        <h2>Features</h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </section>
                    <section>
                        <h2>Delivery Contents</h2>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </section>
                    <section>
                        <h2>Shipping</h2>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </section>
                    <section>
                        <h2>Returns</h2>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </section>
                </div>
            </div>


            <button class="md-close">Close me!</button>

        </div>

    </div>

</div>

<div class="md-overlay"></div><!-- the overlay element -->

<script src="../assets/js/jquery-3.1.1.min.js"></script>
<script src="../assets/js/fastclick.js"></script>
<script src="../assets/js/mtui.flexible.js"></script>
<script src="../assets/js/jquery.marquee.min.js"></script>
<script src="../assets/js/ion.rangeSlider.min.js"></script>
<script src="../assets/js/iscroll.js"></script>
<script src="../assets/js/classie.js"></script>
<script src="../assets/js/modalEffects.js"></script>
<script src="../assets/js/index.js"></script>
<script>
    $(function () {

    })
</script>
</body>
</html>