<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="stylesheet" href="../assets/css/mtui.css">
    <script src="../assets/js/mtui.flexible.js"></script>

    <link rel="stylesheet" href="style.css">

</head>
<body>

<div class="loading">
    <div class="loadpage">
        <div class="icon-title"></div>
        <span class="loading-num">0%</span>
        <div class="progress"><span></span></div>
        <div class="spark-group">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
<section class="wrapper">
    <div class="main" id="main">




    </div>
    <div class="footer">
        <button class="btn">开通超级会员</button>
        <p>去QQ动漫逛逛</p>
    </div>
</section>


<script src="../assets/js/zepto.min.js"></script>
<script src="../assets/js/motion.js"></script>
<script>
    // 资源加载器
    var resList = [
        '../assets/images/personal/icon.png',
        '../assets/images/personal/icon2.png',
        '../assets/images/personal/icon3.png',
        '../assets/images/personal/icon4.png',
        '../assets/images/personal/icon5.png',
        '../assets/images/personal/banner-gameJoin-bg.jpg',
        '../assets/images/personal/banner-rule-bg.jpg',
        '../assets/images/personal/hb_icon.png',
        '../assets/images/personal/myTeam-rendering.png',
        '../assets/images/personal/personal-header-bg.png',
        '../assets/images/personal/personal-rendering.png'
    ];
    var $num = $('.loading-num'),
    $progress = $('.progress span'),
    loader = new mo.Loader(resList,
    {
        loadType: 1,
        minTime: 80,
        onLoading: function(count, total)
        {
            $num.text(Math.floor((count / total) * 100) + '%');
            $progress.css('width', Math.floor((count / total) * 100) + '%');
        },
        onComplete: function(time)
        {
            pageInit(true); // 加载完成进入页面
        }
    });
</script>


<script src="../assets/js/index.js"></script>

</body>
</html>