/**
 * Component:	Variables
 * Description:	Define all variables
*/
*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}
html,
body {
    height: 100%;
}
body {
    background-color: #F5F5F5;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-family: arial, sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
iframe {
    margin: 0;
    padding: 0;
}
img,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    display: block;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}
fieldset,
img {
    border: 0;
}
address,
caption,
cite,
dfn,
em,
th,
var,
i,
em {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
a,
label,
button,
input,
select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
select,
button {
    font: 100% tahoma, \5b8b\4f53, arial;
    vertical-align: baseline;
    border-radius: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
input[type=checkbox],
input[type=radio] {
    vertical-align: middle;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    margin: 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
textarea {
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: auto;
    resize: none;
    font: 100% tahoma, \5b8b\4f53, arial;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.g-view {
    margin: 0 auto;
    max-width: 750px;
    min-width: 300px;
}
.g-view:before {
    content: '';
    display: block;
    width: 100%;
    height: 0.9rem;
}
.g-view:after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5rem;
}
.g-flexview {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 750px;
    min-width: 300px;
}
.g-scrollview {
    width: 100%;
    height: 100%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-bottom: -1px;
}
.g-scrollview:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.5rem;
}
.ios .g-scrollview {
    margin-top: 1px;
}
.hairline .g-scrollview {
    margin-top: 0.5px;
}
.g-fix-ios-overflow-scrolling-bug {
    -webkit-overflow-scrolling: auto;
}