.swiper-container {
    height: 6.8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.rankingTab {
    position: relative;
    z-index: 999;
    top: 6rem;
}
.rankingTab .swiper-pagination-bullet { text-align: center; border-radius: 0; opacity: 1; }
.rankingTab ul { display: -webkit-box; }
.rankingTab li { display: block; overflow: hidden; box-flex: 1;
    -moz-box-flex: 1; -webkit-box-flex: 1;
    height: .8rem; line-height: .8rem; position: relative; font-size: 15px;
    background-color: rgb(66, 26, 54);
}
.rankingTab li:before { position: absolute; top: -4px; right: auto; bottom: 0;
    left: 0; z-index: 1; display: block; width: 100%; height: 1px; content: '';
    background-color: #dcdcdc; -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%;
    -webkit-transform: scaleY(.5) }
.rankingTab .swiper-pagination-bullet-active { color: #fff; background-color: #813732 }

/*.my-pagination .swiper-pagination-bullet-active:before { opacity: 1; background-color: #FD780D; height: 6px; }*/

.my-pagination_custom {
    border-top: 5px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin-bottom: .1rem;
}

.ranking-bg{
    background: url(../../assets/images/ranking/kuang.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
}